# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=0.12.0=pypi_0
anyio=2.2.0=pypi_0
argon2-cffi=20.1.0=py36h2bbff1b_1
astor=0.8.1=pypi_0
async_generator=1.10=py36h28b3542_0
attrs=20.3.0=pypi_0
babel=2.9.0=pypi_0
backcall=0.2.0=pyhd3eb1b0_0
bleach=3.3.0=pypi_0
boost-cpp=1.73.0=h2bbff1b_12
ca-certificates=2023.01.10=haa95532_0
cached-property=1.5.2=pypi_0
cairo=1.16.0=haedb8bc_4
certifi=2020.12.5=pypi_0
cffi=1.14.5=pypi_0
chardet=4.0.0=pypi_0
colorama=0.4.4=pyhd3eb1b0_0
console_shortcut=0.1.1=4
contextvars=2.4=pypi_0
cudatoolkit=10.0.130=0
cudnn=7.6.5=cuda10.0_0
cycler=0.10.0=pypi_0
dataclasses=0.8=pypi_0
decorator=4.4.2=pypi_0
defusedxml=0.7.1=pyhd3eb1b0_0
deprecation=2.1.0=pypi_0
entrypoints=0.3=py36_0
expat=2.4.9=h6c2663c_0
font-ttf-dejavu-sans-mono=2.37=hd3eb1b0_0
font-ttf-inconsolata=2.001=hcb22688_0
font-ttf-source-code-pro=2.030=hd3eb1b0_0
font-ttf-ubuntu=0.83=h8b1ccd4_0
fontconfig=2.14.1=hc0defaf_1
fonts-anaconda=1=h8fa9717_0
fonts-conda-ecosystem=1=hd3eb1b0_0
freetype=2.12.1=ha860e81_0
fribidi=1.0.10=h62dcd97_0
gast=0.4.0=pypi_0
getopt-win32=0.1=h2bbff1b_0
giflib=5.2.1=h8cc25b3_3
glib=2.69.1=h5dc1a3c_2
google-pasta=0.2.0=pypi_0
graphite2=1.3.14=hd77b12b_1
graphviz=2.50.0=h7eca76f_1
grpcio=1.37.0=pypi_0
gts=0.7.6=h63ab5a1_3
h5py=2.10.0=pypi_0
harfbuzz=4.3.0=hb646838_1
icu=58.2=ha925a31_3
idna=2.10=pypi_0
imageio=2.9.0=pypi_0
immutables=0.15=pypi_0
importlib-metadata=4.0.1=pypi_0
ipykernel=5.5.3=pypi_0
ipython=7.16.1=py36h5ca1d4c_0
ipython_genutils=0.2.0=pyhd3eb1b0_1
ipywidgets=7.6.3=pypi_0
jedi=0.18.0=pypi_0
jinja2=2.11.3=pypi_0
joblib=1.1.1=pypi_0
jpeg=9e=h2bbff1b_1
json5=0.9.5=pypi_0
jsonschema=3.2.0=pypi_0
jupyter=1.0.0=pypi_0
jupyter-client=6.1.12=pypi_0
jupyter-console=6.4.0=pypi_0
jupyter-core=4.7.1=pypi_0
jupyter-packaging=0.9.2=pypi_0
jupyter-server=1.6.4=pypi_0
jupyter_client=7.1.2=pyhd3eb1b0_0
jupyter_core=4.8.1=py36haa95532_0
jupyterlab-server=2.4.0=pypi_0
jupyterlab-widgets=1.0.0=pypi_0
jupyterlab_pygments=0.1.2=py_0
keras=2.2.4=pypi_0
keras-applications=1.0.8=pypi_0
keras-contrib=2.0.8=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.3.1=pypi_0
lcms2=2.12=h83e58a3_0
lerc=3.0=hd77b12b_0
libboost=1.73.0=h6c2663c_12
libcurl=7.88.1=h86230a5_0
libdeflate=1.17=h2bbff1b_0
libffi=3.4.2=hd77b12b_6
libgd=2.3.3=hd77b12b_2
libiconv=1.16=h2bbff1b_2
libpng=1.6.39=h8cc25b3_0
libssh2=1.10.0=hcd4344a_0
libtiff=4.5.0=h6c2663c_2
libwebp=1.2.4=hbc33d0d_1
libwebp-base=1.2.4=h2bbff1b_1
libxml2=2.9.14=h0ad7f3c_0
lz4-c=1.9.4=h2bbff1b_0
m2w64-gcc-libgfortran=5.3.0=6
m2w64-gcc-libs=5.3.0=7
m2w64-gcc-libs-core=5.3.0=7
m2w64-gmp=6.1.0=2
m2w64-libwinpthread-git=5.0.0.4634.697f757=2
markdown=3.3.4=pypi_0
markupsafe=1.1.1=pypi_0
matplotlib=3.3.4=pypi_0
mistune=0.8.4=py36he774522_0
msys2-conda-epoch=20160418=1
nbclassic=0.2.7=pypi_0
nbclient=0.5.3=pyhd3eb1b0_0
nbconvert=6.0.7=py36_0
nbformat=5.1.3=pyhd3eb1b0_0
nest-asyncio=1.5.1=pyhd3eb1b0_0
networkx=2.5.1=pypi_0
notebook=6.3.0=pypi_0
numpy=1.19.5=pypi_0
opencv-python=4.5.1.48=pypi_0
openjpeg=2.4.0=h4fc8c34_0
openssl=1.1.1t=h2bbff1b_0
packaging=20.9=pypi_0
pandoc=2.12=haa95532_3
pandocfilters=1.4.3=pypi_0
pango=1.50.7=h78c2152_0
parso=0.8.2=pypi_0
pcre=8.45=hd77b12b_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pyhd3eb1b0_1003
pillow=8.2.0=pypi_0
pip=21.2.2=py36haa95532_0
pixman=0.40.0=h2bbff1b_1
poppler=22.12.0=h268424c_0
poppler-data=0.4.11=haa95532_1
prometheus-client=0.10.1=pypi_0
prometheus_client=0.13.1=pyhd3eb1b0_0
prompt-toolkit=3.0.18=pypi_0
protobuf=3.15.8=pypi_0
ptyprocess=0.7.0=pypi_0
pycparser=2.20=pypi_0
pydot=1.4.2=pypi_0
pygments=2.8.1=pypi_0
pyparsing=2.4.7=pypi_0
pyrsistent=0.17.3=py36he774522_0
python=3.6.13=h3758d61_0
python-dateutil=2.8.1=pypi_0
python-graphviz=0.16=pyhd3eb1b0_1
pytz=2021.1=pypi_0
pywavelets=1.1.1=pypi_0
pywin32=228=py36hbaba5e8_1
pywinpty=0.5.7=py36_0
pyyaml=5.4.1=pypi_0
pyzmq=22.0.3=pypi_0
qtconsole=5.0.3=pypi_0
qtpy=1.9.0=pypi_0
requests=2.25.1=pypi_0
scikit-image=0.17.2=pypi_0
scikit-learn=0.24.2=pypi_0
scipy=1.2.0=pypi_0
send2trash=1.5.0=pypi_0
setuptools=58.0.4=py36haa95532_0
six=1.15.0=pypi_0
sniffio=1.2.0=pypi_0
sqlite=3.41.1=h2bbff1b_0
tensorboard=1.14.0=pypi_0
tensorflow-estimator=1.14.0=pypi_0
tensorflow-gpu=1.14.0=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.9.4=py36haa95532_0
testpath=0.4.4=pypi_0
threadpoolctl=3.1.0=pypi_0
tifffile=2020.9.3=pypi_0
tomlkit=0.7.0=pypi_0
tornado=6.1=py36h2bbff1b_0
tqdm=4.60.0=pypi_0
traitlets=4.3.3=py36haa95532_0
typing-extensions=3.7.4.3=pypi_0
urllib3=1.26.4=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
wcwidth=0.2.5=pyhd3eb1b0_0
webencodings=0.5.1=py36_1
werkzeug=1.0.1=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
widgetsnbextension=3.5.1=pypi_0
wincertstore=0.2=py36h7fe50ca_0
winpty=0.4.3=4
wrapt=1.12.1=pypi_0
xz=5.2.10=h8cc25b3_1
zipp=3.4.1=pypi_0
zlib=1.2.13=h8cc25b3_0
zstd=1.5.2=h19a0ad4_0
